@model DragonSouvenirs.Web.ViewModels.Administration.Products.AdminProductViewModel

<div class="container mt-2" align="center">
    <div class="modal-content align-items-center" style="width: 25rem;">
        <div class="modal-header flex-column align-items-center">
            <div>
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
            <h4 class="modal-title w-100">Сигурен ли си?</h4>
        </div>
        <div class="modal-body">
            <p>Сигурен ли си, че искаш да изтриеш | възстановиш продукт: @Model.Name?</p>
        </div>
        <div class="modal-footer justify-content-center">
            <a asp-area="Administration"
               asp-controller="Products"
               asp-action="Index"
               class="btn btn-secondary">
                Отказ
            </a>
            <form asp-area="Administration"
                  asp-controller="Products"
                  asp-action="Delete"
                  asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-danger">Изтрий | Възстанови</button>
            </form>
            @*<form asp-area="Administration"
                  asp-controller="Products"
                  asp-action="HardDelete"
                  asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-danger">HARD DELETE (DANGER)</button>
            </form>*@
        </div>
    </div>
</div>