@using DragonSouvenirs.Common
@{
    this.ViewData["Title"] = "Administration";
}
<h1>@this.ViewData["Title"]</h1>

<div class="row" align="center">
    <div class="col-md-4">
        <div>
            <a asp-area="Administration" asp-controller="Users" asp-action="All">
                <img src="@AdminPanelImageUrls.UsersImgUrl" class="mr-3" style="width: 15rem; height: 15rem;">
            </a>
        </div>
        <div class="media-body">
            <h5 class="card-title">Потребители</h5>
        </div>
    </div>

    <div class="col-md-4">
        <div>
            <a asp-area="Administration" asp-controller="Categories" asp-action="All">
                <img src="@AdminPanelImageUrls.CategoriesImgUrl" class="mr-3" style="width: 15rem; height: 15rem;">
            </a>
        </div>
        <div class="media-body">
            <h5 class="card-title">Категории</h5>
        </div>
    </div>

    <div class="col-md-4">
        <div>
            <a asp-area="Administration" asp-controller="Products" asp-action="All">
                <img src="@AdminPanelImageUrls.ProductsImgUrl" class="mr-3" style="width: 15rem; height: 15rem;">
            </a>
        </div>
        <div class="media-body">
            <h5 class="card-title">Продукти</h5>
        </div>
    </div>
</div>
