@model DragonSouvenirs.Web.ViewModels.Administration.Categories.AdminCategoryInputModel
@{
    ViewData["Title"] = "Създай категория";
}
<div class="container">
    <h2 class="m-4" align="center">@ViewData["Title"]</h2>
    <form enctype="multipart/form-data"
          asp-area="Administration"
          asp-controller="Categories"
          asp-action="Create"
          method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Ikoni" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Икони" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Content">Съдържание</label>
            <input asp-for="Content" class="form-control" placeholder="Дървена икона на..." />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p>Снимка</p>
            <input type="file" asp-for="Image" name="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="col-sm-1">
                <a asp-area="Administration"
                   asp-controller="Categories"
                   asp-action="Index"
                   class="btn btn-secondary">Назад</a>
            </div>
            <div class="form-group col-sm-1">
                <button type="submit" class="btn btn-custom">Създай</button>
            </div>
        </div>
    </form>
</div>