@model DragonSouvenirs.Web.ViewModels.Administration.Categories.AdminCategoryViewModel

<div class="container mt-5" align="center">
    <div class="modal-content align-items-center" style="width: 25rem;">
        <div class="modal-header flex-column align-items-center">
            <div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <h4 class="modal-title w-100">Сигурен ли си?</h4>
        </div>
        <div class="modal-body">
            <p>Сигурен ли си, че искаш да изтриеш | възстановиш категория: @Model.Title?</p>
        </div>
        <div class="modal-footer justify-content-center">
            <a asp-area="Administration"
               asp-controller="Categories"
               asp-action="Index"
               class="btn btn-secondary">
                Отказ
            </a>
            <form asp-area="Administration"
                  asp-controller="Categories"
                  asp-action="Delete"
                  asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-danger">Изтрий | Възстанови</button>
            </form>
        </div>
    </div>
</div>