@{ var breadCrumbItem = "Контакти"; }
<partial name="Partials/_BreadcrumbPartial" model="breadCrumbItem" />

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Телефон</h4>
                    <p>+359 895 12 44 85</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Адрес</h4>
                    <p>Варна, Аспарухово</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Работно време</h4>
                    <p>9:00 до 19:00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Имейл</h4>
                    <p>stoyandraganov875@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<!-- Map Begin -->
<div class="map">
    <iframe src="https://maps.google.com/maps?q=Varna&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <div class="inside-widget">
            <h4>Варна</h4>
            <ul>
                <li>Телефон: +359 895 12 44 85</li>
                <li>Варна, Аспарухово</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->