@using DragonSouvenirs.Common
@model DragonSouvenirs.Web.ViewModels.Home.IndexViewModel
@{ this.ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<hr/>
<div class="row" align="center">
    @foreach (var category in @Model.Categories)
    {
        <partial name="_CategoriesPartial", model="category"/>
    }
</div>
