@using DragonSouvenirs.Common
@model DragonSouvenirs.Web.ViewModels.Home.IndexViewModel
@{ this.ViewData["Title"] = "Home Page"; }

@if (this.TempData["fail"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @this.TempData["fail"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (this.TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @this.TempData["success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<hr/>
<partial name="_CarouselPartial"/>
<div class="row" align="center">
    @foreach (var category in @Model.Categories)
    {
        <partial name="_CategoriesPartial", model="category"/>
    }
</div>
