@model DragonSouvenirs.Web.ViewModels.Products.ImageViewModel
<div class="col-3">
    <div class="view overlay rounded z-depth-1 gallery-item">
        <img src="@Model.ImgUrl"
             class="img-fluid">
        <div class="mask rgba-white-slight"></div>
    </div>
</div>
