@model DragonSouvenirs.Web.ViewModels.Products.FavouriteProductsViewModel
@{
    var breadCrumbItem = "Любими";
}
<partial name="Partials/_BreadcrumbPartial" model="breadCrumbItem"/>

<div class="container ">
    <div class="row w-100 justify-content-center">
        @if (this.Model.Products.Any()) 
        {
            @foreach (var product in this.Model.Products)
            {
                <partial name="Partials/_FavouritesProductsPartial" model="product"/>
            }
        }
        else
        {
            <p>Не сте избрали любими продукти.</p>
        }
    </div>
</div>
