@model DragonSouvenirs.Web.ViewModels.Products.FavouriteProductsViewModel
@{
    var breadCrumbItem = "Любими";
}
<partial name="Partials/_BreadcrumbPartial" model="breadCrumbItem"/>

<div class="container mt-3">
    <div class="row w-100 justify-content-center">
        @if (this.Model.Products != null && this.Model.Products.Any())
        {
            @foreach (var product in this.Model.Products)
            {
                <partial name="Partials/_FavouritesProductsPartial" model="product"/>
            }
        }
        else
        {
            <p>Не сте избрали любими продукти.</p>

            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a asp-route="shopRoute"
                       class="primary-btn cart-btn">КЪМ МАГАЗИН</a>
                </div>
            </div>
        }
    </div>
</div>
