@using DragonSouvenirs.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" asp-append-version="true">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
@*<div id="preloder">
        <div class="loader"></div>
    </div>*@

    <partial name="Partials/_NavbarPartial"/>
    <div>
        <partial name="Partials/_CookieConsentPartial"/>
        <main role="main" class="pb-3">
            <div class="container">
                @this.RenderBody()
            </div>
        </main>
    </div>

    <partial name="Partials/_FooterPartial"/>
    
    <script src="~/js/jquery-3.3.1.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.nice-select.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.slicknav.js" asp-append-version="true"></script>
    <script src="~/js/mixitup.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    
    
    
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
    
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
