@model DragonSouvenirs.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<h1 class="display-4">@Model.Name</h1>
<div class="alert alert-info">
    @Model.Content
</div>


<div class="container">
    <div class="row">
        @foreach (var product in @Model.Products)
        {
            <partial name="_ProductsInCategoryPartial" model="product"/>
        }
    </div>
</div>

