@using DragonSouvenirs.Web.Components
@model DragonSouvenirs.Web.ViewModels.Categories.CategoryViewModel

@await Component.InvokeAsync("HeroComponent" , new
{
    categoryName = this.Model.Name,
    minPrice = this.Model.CategoryPaginationInfo.MinPrice,
    maxPrice = this.Model.CategoryPaginationInfo.MaxPrice
})
<partial name="Partials/_BreadcrumbPartial" model="@Model.Title"/>


<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    @await Component.InvokeAsync("ExtendedFilterComponent", new { currentCategory = this.Model.Name })
                    @await this.Component.InvokeAsync(typeof(LatestProductsComponent))
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <form asp-route="categoriesByName"
                      asp-route-name="@this.Model.Name"
                      method="get">
                    <partial name="Partials/_FilterProductsPartial" model="@this.Model.CategoryPaginationInfo"/>
                </form>
                <div class="row">
                    @foreach (var product in @Model.Products)
                    {
                        <partial name="Partials/_ProductsInCategoryPartial" model="product" />
                    }
                </div>
                <partial name="Partials/_PaginationPartial"
                         model="this.Model.CategoryPaginationInfo" />
            </div>
        </div>
    </div>
</section>